// Specific CSS for your home-page
.banner-home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 70px);
  background-size: cover;
  background-position: center;
  text-align: center;
  h1 {
    font-size: 45px;
    color: white;
    font-weight: bold;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    font-family: "Ubuntu";
    margin-bottom: 50px;
  }
}

.btn-book {
  padding: 20px 27px;
  background-color: #D23333;
  color: white;
  border-radius: 2px;
  font-family: "Ubuntu";
  font-weight: normal;
  &:hover {
    text-decoration: none;
    background-color:#C22F2F;
    color: white;
  }
  &:focus {
    color: white;
    text-decoration: none;
  }
}

.cards {
  height: 80vh;
  h2 {
    font-size: 36px;
    font-weight: bold;
    font-family: "Ubuntu";
  }
}

.card {
 height: 175px;
}

.header-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  img {
    height: 50px;
  }
  h4 {
    font-size: 20px;
  }
}


