<div class="container">
  <%= simple_form_for @booking do |f| %>
    <div class="row">
      <%= f.input :first_name, wrapper_html: { class: 'col s12 m6' } %>
      <%= f.input :last_name, wrapper_html: { class: 'col s12 m6' } %>
    </div>
    </div>
    <%= f.button :submit %>
  <% end %>
</div>
