<% content_for(:title_tag) do %>
  Забронировать · Awm
<% end %>
<div class="container">
  <div class="row">
    <div class="col s12 m8 offset-m2">
      <h3 class="center-align booking-header"> Напите свой номер мы вам перезвоним </h3>
    <%= simple_form_for @booking do |f| %>
      <div class="row">
        <%= f.input :phone, label: 'Номер', error: 'Заполните поле', wrapper_html: { class: 'col s12' }, :input_html => { :type => "number" } %>
      </div>
      <%= f.submit 'ЗАБРОНИРОВАТЬ',  class: 'btn-bookings' %>
    <% end %>
    </div>
  </div>
</div>

<div class="line-footer">

</div>
<%= render "shared/footer"  %>
