<div class="wrapper-footer">
  <div class="row">
    <div class="col s12 m6 l4">
      <div class="footer-block-awm">
        <div class="footer-block-awm-content">
          <h4> Мы открыты: </h4>
          <p class="header-text"> Понедельник - Пятница </p>
          <p class="header-time"> 8:00 - 18:00 </p>
          <p class="header-text"> Суббота - Воскресенье </p>
          <p class="header-time"> 10:00 - 17:00 </p>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l4">
      <div class="footer-block-awm">
        <div class="footer-block-awm-content">
          <h4> Мы открыты: </h4>
          <p class="header-text"> Понедельник - Пятница </p>
          <p class="header-time"> 8:00 - 18:00 </p>
          <p class="header-text"> Суббота - Воскресенье </p>
          <p class="header-time"> 10:00 - 17:00 </p>
        </div>
      </div>
    </div>
    <div class="col l4 hide-on-small-only hide-on-med-only">
      <div class="footer-block-awm">
        <div class="footer-block-awm-content">
          <h4> Мы открыты: </h4>
          <p class="header-text"> Понедельник - Пятница </p>
          <p class="header-time"> 8:00 - 18:00 </p>
          <p class="header-text"> Суббота - Воскресенье </p>
          <p class="header-time"> 10:00 - 17:00 </p>
        </div>
      </div>
    </div>
  </div>
</div>
