<div class="wrapper-footer">
  <div class="row">
    <div class="col s12 l4 hide-on-small-only hide-on-med-only">
      <div class="footer-block-awm">
        <div class="footer-block-awm-content">
          <h4 class="header-footer"> Адрес: </h4>
          <p class="header-address"> Проспект патриотов, 7a </p>
          <p class="header-address" id='city'> г. Воронеж </p>
          <a href="https://yandex.ru/maps/193/voronezh/?mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fll%3D39.139%252C51.642%26spn%3D0.001%252C0.001%26text%3D%25D0%25A0%25D0%25BE%25D1%2581%25D1%2581%25D0%25B8%25D1%258F%252C%2520%25D0%2592%25D0%25BE%25D1%2580%25D0%25BE%25D0%25BD%25D0%25B5%25D0%25B6%252C%2520%25D0%25BF%25D1%2580%25D0%25BE%25D1%2581%25D0%25BF%25D0%25B5%25D0%25BA%25D1%2582%2520%25D0%259F%25D0%25B0%25D1%2582%25D1%2580%25D0%25B8%25D0%25BE%25D1%2582%25D0%25BE%25D0%25B2%252C%25207%25D0%2590%2520&ll=39.139453%2C51.642284&z=16" class="btn-footer", target="_blank" > Найди нас на карте</a>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l4">
      <div class="footer-block-awm">
        <div class="footer-block-awm-content">
          <h4 class="header-footer"> Контакты: </h4>
          <div class="phone-footer">
            <%= image_tag "phone.png" %>
            <p> 89191893713 </p>
          </div>
          <div class="phone-footer">
            <%= image_tag "email.png" %>
            <p> contact@awm-vrn.ru </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l4">
      <div class="footer-block-awm">
        <div class="footer-block-awm-content">
          <h4 class="header-footer"> Мы открыты: </h4>
          <p class="header-text"> Понедельник - Пятница </p>
          <p class="header-time"> 8:00 - 20:00 </p>
          <p class="header-text"> Суббота - Воскресенье </p>
          <p class="header-time"> 10:00 - 18:00 </p>
        </div>
      </div>
    </div>
  </div>
</div>
