<div class="navbar-awm">
  <!-- Logo -->
  <a href="/" class="navbar-awm-brand">
    <%= image_tag "awm123.jpg" %>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-awm-right hide-on-small-only hide-on-med-only">

    <a href="" class="navbar-awm-item navbar-awm-link">Главная</a>
    <a href="" class="navbar-awm-item navbar-awm-link">Услуги</a>
    <a href="" class="navbar-awm-item navbar-awm-link">Найти нас</a>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-awm-item hide-on-large-only ">
    <i class="fa fa-bars dropdown-button" id="navbar-awm-menu" data-activates='dropdown1'></i>
    <ul id='dropdown1' class=" dropdown-content dropdown-menu dropdown-menu-right navbar-awm-dropdown-menu">
      <li><a href="#">Главная</a></li>
      <li><a href="#">Услуги</a></li>
      <li><a href="#">Найти нас</a></li>
    </ul>
  </div>
</div>
