<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <%= image_tag "awm.png" %>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hide-on-small-only hide-on-med-only">

    <a href="" class="navbar-wagon-item navbar-wagon-link">Главная</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Услуги</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Найти нас</a>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hide-on-large-only ">
    <i class="fa fa-bars dropdown-button" id="navbar-wagon-menu" data-activates='dropdown1'></i>
    <ul id='dropdown1' class=" dropdown-content dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
      <li><a href="#">Главная</a></li>
      <li><a href="#">Услуги</a></li>
      <li><a href="#">Найти нас</a></li>
    </ul>
  </div>
</div>
