<div class="navbar-awm">
  <!-- Logo -->
  <a href="/" class="navbar-awm-brand">
    <%= image_tag "awm123.jpg" %>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-awm-right hide-on-small-only hide-on-med-only">
    <div class="navbar-awm-item">
     <a href="" class="navbar-awm-link">Главная</a>

    </div>
     <div class="navbar-awm-item">
      <a href="" class="navbar-awm-link">Услуги</a>

    </div>
     <div class="navbar-awm-item">
       <a href="" class="navbar-awm-link">Найти нас</a>
    </div>
  </div>
<!-- navbar-awm-dropdown-menu -->

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-awm-item hide-on-large-only ">
    <a href="#" class="button-collapse" data-activates="mobile-demo" id="navbar-awm-menu">  <i class="fa fa-bars" ></i>  </a>
    <ul id='mobile-demo' class="side-nav side-menu-awm">
      <li class="center-align"><a href="#">Главная</a></li>
      <li class="center-align"><a href="#">Услуги</a></li>
      <li class="center-align"><a href="#">Найти нас</a></li>
    </ul>
  </div>
</div>
