<div class="page-container">
  <div class="footer-cards">
    <div class="container">
      <div class="row">
        <h2 class="center-align title-find-us"> Найти нас </h2>
        <div class="col s12">
          <div class="row">
            <div class="col s6">
              <div class="footer-card left-align">
                <h3 class="header-footer-card"> Мы открыты: </h3>
              </div>
            </div>
            <div class="col s6">
              <div class="footer-card center-align">
                <p class="header-text"> Понедельник - Пятница </p>
                <p class="header-time"> 8:00 - 18:00 </p>
                <p class="header-text"> Суббота - Воскресенье </p>
                <p class="header-time"> 10:00 - 17:00 </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col s12">
          <div class="row">
            <div class="col s6">
              <div class="footer-card left-align">
                <h3 class="header-footer-card"> Адрес: </h3>
              </div>
            </div>
            <div class="col s6">
              <div class="footer-card center-align">
                <p class="header-address"> Проспект патриотов, 7a </p>
                <p class="header-address"> г. Воронеж </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col s12">
          <div class="row">
            <div class="col s6">
              <div class="footer-card left-align">
                <h3 class="header-footer-card">  Контакты: </h3>
              </div>
            </div>
            <div class="col s6">
              <div class="footer-card center-align">
                <div class="contact-footer">
                  <%= image_tag "phone.png" %>
                  <p> 89191893713 </p>
                </div>
                <div class="contact-footer">
                  <%= image_tag "email.png" %>
                  <p> awm@awm.ru </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="map"></div>
</div>





<% content_for(:after_js) do %>
  <script type="text/javascript">
    ymaps.ready(init);
      var myMap,
          myPlacemark;

      function init(){
          myMap = new ymaps.Map("map", {
              center: [51.642284, 39.139453],
              zoom: 16
          });

          myPlacemark = new ymaps.Placemark([51.642284, 39.139453], {
              hintContent: '<%= image_tag 'awm.png', class: 'map-awm' %>', balloonContent: 'AWM автосервис'
          }, {
            preset: 'islands#redDotIconWithCaption'
          });

          myMap.geoObjects.add(myPlacemark);
      }
  </script>
<% end %>
