<div class="banner-home" style="background-image: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)), url(<%= image_path 'home-banner.jpg' %>)">
  <div class="banner-content">
    <h1> Автосервис с безупречной репутацией. </h1>
    <%= link_to "Забронируй сейчас", "#", class: "btn-book" %>
  </div>
</div>

<div class="container cards">
  <h2 class="text-center"> Почему мы </h2>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <div class="header-card">
          <%= image_tag "card1.png" %>
          <h4> Опытные механики </h4>
        </div>
        <div class="content-card">

        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <div class="header-card">

        </div>
        <div class="content-card">

        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <div class="header-card">

        </div>
        <div class="content-card">

        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <div class="header-card">

        </div>
        <div class="content-card">

        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <div class="header-card">

        </div>
        <div class="content-card">

        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <div class="header-card">

        </div>
        <div class="content-card">

        </div>
      </div>
    </div>
  </div>
</div>
