<div class="banner-home" style="background-image: linear-gradient(
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.25)), url(<%= image_path 'home-banner.jpg' %>)">
  <div class="banner-content">
  <h1> Автосервис с безупречной репутацией. </h1>
    <%= link_to "Забронируй сейчас", "#", class: "btn-book" %>
  </div>
</div>
