<% content_for(:title_tag) do %>
  Awm(Авм) | Цены.
<% end %>

<div class="container">
  <div class="row">
    <div class="col s12">
      <h4 style="text-align: center; margin-top: 40px;">  Цены на основные услуги AWM-сервис </h4>
      <table class="centered striped">
        <thead>
          <tr>
            <th>Услуга</th>
            <th> Стоимость, руб </th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Диагностика ходовой</td>
            <td>500</td>
          </tr>
          <tr>
            <td>Дезинфекция с учетом материалов</td>
            <td>1500</td>
          </tr>
          <tr>
            <td>Регулировка света фар</td>
            <td>400</td>
          </tr>
          <tr>
            <td>Замена масла в двигателе</td>
            <td>500</td>
          </tr>
          <tr>
            <td>Замена масла в КПП</td>
            <td>1000</td>
          </tr>
          <tr>
            <td>Замена масла в АКПП</td>
            <td>1500</td>
          </tr>
          <tr>
            <td>Замена воздушного фильтра</td>
            <td>200</td>
          </tr>
          <tr>
            <td>Замена топливного фильтра</td>
            <td>300</td>
          </tr>
          <tr>
            <td>Замена масла в мосту</td>
            <td>700</td>
          </tr>
          <tr>
            <td>Замена салонного фильтра</td>
            <td>300</td>
          </tr>
          <tr>
            <td>Заправка кондиционера</td>
            <td>1500</td>
          </tr>
          <tr>
            <td>Замена охлаждающей жидкости</td>
            <td>1000</td>
          </tr>
          <tr>
            <td>Замена тормозной жидкости</td>
            <td>1000</td>
          </tr>
          <tr>
            <td>Замена свечей зажигания</td>
            <td>400</td>
          </tr>
          <tr>
            <td>Замена тормозных колодок</td>
            <td>700</td>
          </tr>
          <tr>
            <td>Замена сцепления</td>
            <td>4000</td>
          </tr>
          <tr>
            <td>Замена ремня ГРМ</td>
            <td>2000</td>
          </tr>
          <tr>
            <td>Диагностика электронных систем</td>
            <td>500</td>
          </tr>
          <tr>
            <td>Развал-схождение</td>
            <td>1000</td>
          </tr>
        </tbody>
      </table>
      <br>
      *цены на некоторые позиции из прейскуранта могут отличаться в зависимости от индивидуальных особенностей, подробности уточняйте по нашему телефону 20-20-919

    </div>
  </div>
</div>

<div class="line-footer">

</div>
<%= render 'shared/footer' %>
