.footer-block-awm {
  display: flex;
  justify-content: space-around;
  margin-right: 50px;
}

.header-footer {
  font-size: 20px;
  font-family: $headers-font;
  font-weight: normal;
  margin-bottom: 12px;
}

.adding-margin {
  margin-top: 7px;
}

.footer-block-awm-content {
}

.wrapper-footer {
  border: 1px solid white;
  padding-top: 20px;
}

.header-address {
  font-size: 18px;
  font-family: $headers-font;
  color: #333333;
  font-weight: lighter;
  margin-top: 0;
  margin-bottom: 5px;
}

.btn-footer {
  font-size: 16px;
  font-family: $headers-font;
  padding: 18px 28px;
  color: #333333;
  font-weight: lighter;
  border: 1px solid #333333;
  border-radius: 2px;
  transition: .4s;
   &:hover {
    color: #D23333;
    border: 1px solid #D23333;
   }
}

#city {
  margin-bottom: 30px !important;
}


.phone-footer {
  display: flex;
  align-items: center;
  color: #333333;
  img {
    height: 50px;
  }

  p {
    margin-left: 20px;
  }
  margin-bottom: 13px;
}

.phone-footer-find {
  display: flex;
  align-items: center;
  color: #333333;
  img {
    height: 50px;
  }

  p {
    margin-left: 20px;
  }
  margin-bottom: 13px;
}

@media only screen and (max-width: 600px) {
    .footer-block-awm  {
      display: block;
      margin-left: 50px;
    }
}

.header-time {
  font-weight: bold;
  font-family: $headers-font;
  font-size: 16px;
  color: #333333;
}

.header-text {
  font-family: $headers-font;
  color: #333333;
}

.phone-numbers {
  font-family: $headers-font;
  p {
    margin-top: 5px;
    margin-bottom: 0;
  }
}

