/* Main navbar */
.navbar-awm {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.navbar-awm-brand img {
  height: 50px;
}

/* User Avatar */
.navbar-awm .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* Right section */
.navbar-awm-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-awm-item {
  cursor: pointer;
  margin: 0 20px;
}

/* Navbar link */
.navbar-awm-link {
  color: #616668;
  font-size: 16px;
}
.navbar-awm-link:hover {
  color: #D23333;
  // border-bottom: 1px solid #D23333;
  text-decoration: none;
}

/* Dropdown menu */
.side-menu-awm li > a {
  color: #333333 !important;
  font-size: 20px !important;
  font-weight: lighter;
}

.side-menu-awm li > a:hover {
  color: black !important;
}

.dropdown-content {
  min-width: 110px !important;
}

#navbar-awm-menu {
  font-size: 24px;
  color: #333333;
}

.icon-navbar-awm {
  margin-left: 5px !important;
  margin-right: 7px !important;
}

.side-menu-awm {
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
}
