.booking-header {
  font-family: $headers-font;
  color: #333333;
  margin-top: 40px;
}

.btn-bookings {
  text-decoration: none;
  color: #D23333;
  background-color: white;
  text-align: center;
  letter-spacing: .5px;
  border: 1px solid #D23333;
  box-shadow: none !important;
  padding: 12px 20px !important;
  font-family: $headers-font;
  border-radius: 2px !important;
  transition: .4s;
  &:hover {
    color: white;
    background-color: #D23333;
  }
}

input:-webkit-autofill { +label { @extend .active; } }

/* label focus color */
.input-field input[type=text]:focus + label {
  color: #D23333 !important;
}

.input-field input[type=email]:focus + label {
  color: #D23333 !important;
}

.input-field input[type=tel]:focus + label {
 color: #D23333 !important;
}

.input-field textarea:focus + label {
 color: #D23333 !important;
}
/* label underline focus color */
.input-field input[type=text]:focus {
 border-bottom: 1px solid #D23333 !important;
 box-shadow: 0 1px 0 0 #D23333 !important;
}

.input-field input[type=email]:focus {
 border-bottom: 1px solid #D23333 !important;
 box-shadow: 0 1px 0 0 #D23333 !important;
}

.input-field input[type=tel]:focus {
 border-bottom: 1px solid #D23333 !important;
 box-shadow: 0 1px 0 0 #D23333 !important;
}

.input-field textarea:focus {
 border-bottom: 1px solid #D23333 !important;
 box-shadow: 0 1px 0 0 #D23333 !important;
}
